.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
.title {
  font-weight: 700;
  font-size: 34px;
  color: black;
  text-transform: uppercase;
  margin: 70px 0 40px 0;
  @media (max-width: 990px) {
    margin: 40px 0 40px 0;
  }
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
.mainContainer {
  width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin: 20px 20px;
}
.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gramzImage {
  width: 55%;
  // height: 70%;
}
.containerForButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonSelf {
  width: 25px;
  height: 56px;
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transition: 0.4s;
    background: #e0e0e0;
  }
}
.descriptionContainer {
  padding: 0 22px;
}
